body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #58391c;
}
nav li:last-child a:hover {
  background: #774e26;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #58391c;
}

section.hero {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #58391c;
  color: #58391c;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #58391c;
  border-color: #fff;
  color: #fff;
}

.menu {
  background: #f8f8f8;
}

.card {
  background: #fff;
}

.btn-primary {
  background: #58391c;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #774e26;
}

section.cart {
  background: #f8f8f8;
}
section.cart .amount {
  color: #58391c;
}
