<section class="status">
    <div class="grid grid-coloumn-1 text-center pd-16">
        <h1 class="pt-20 text-xl font-bold">Error 404</h1>
        <h1 class="pt-20 text-lg">Go Back<a class="ml-5 inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12" href="/"> Home</a></h1>
    </div>
</section>